# dependencies
node_modules
**/node_modules

# build outputs
dist
build
coverage
.out
.next
.turbo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env/secrets
.env
.env.*
config/env
development/**/.env

# vcs + editor + os
.git
.gitignore
.DS_Store
.vscode
.idea

# docker artifacts
Dockerfile*
docker-compose*.yml
